

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

.history{
    padding-top: 20px;
    text-align: center
    /*padding-top: 100px;
    padding-bottom: 100px; */
    color: black; /* Цвет символа */
    font-size: 140%; /* Размер шрифта */
}


